@charset "utf-8";
*{margin: 0; padding: 0;}
p{text-indent:1em;}
    body {
	  background-image:url(../Images/cloud.jpg);
	  background-repeat: no-repeat;/*图片不会重复*/
	  background-size:100%;
	  background-attachment:fixed;/*固定图片，不会随着滚动条滚动*/
   }
 #left1 {
	  position: absolute;
	  position:fixed;
	  left: 8.7%;
	  top: 39%;
	  width:12%;
	  height: 11%;
  }
 #menu {
	  position: absolute;
	  position:fixed;
	  left: 4.7%;
	  top: 52%;
	  width:19%;
	  height: 8%;
  }
#bigbeijing {
	position: absolute;
	position:fixed;/*固定层，不会跟着滚轮滚动*/
	left: 29.5%;
	top: 0.5%;
	width: 70%;
	height: 100%;
	background-color:#CCC;
	opacity:0.6;
	z-index: 1;
}
.home {
	 border:8px solid;
	 border-color:transparent;/*透明边框*/
	 width:30px;
	 height:30px;
	 border-radius:50px;
  }
 #mohu {
	  position: absolute;
	  position:fixed;
	  left: 0%;
	  top: 77%;
	  width:28.8%;
	  height: 10%;
	 background-color: #323232;
  }
 .under {
	opacity:0.4;
  }
#jieshao {
	  position: absolute;
	  position:fixed;
	  left: 0%;
	  top: 79%;
	  width:28.8%;
	  height: 8%;
  }
 #zi {
	position: absolute;
	left: 47%;
	top: 30px;
	width: 40%;
	height: 39%;
	z-index: 2;
}
 #important {
	position: absolute;
	font-size:19px;
	color: #000;
	font-family:微软雅黑;
	line-height:40px;
	left: 32%;
	top: 18%;
	width: 65%;
	height: 998px;
	z-index: 2;
}
 .next {
	 left: 200px;  
	 width:34px;
	 height:34px;
}
   .next2 {
   	position: relative;/*--相对路径--*/
    top: 55px;
	margin-left: 37%;/*--外间距--*/
	width:25%;
	height: 8%;
  }
  .line {
  	text-decoration: none;
}

